@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/hero-bg.jpg"), #000;
  background-position: center;
  background-size: cover;
}

.col-12{
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

form :where(select){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.select-box img{
  max-width: 21px;
}
.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
  color: #999;
}

.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
  color: #fff;
}
form .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}
.group {
  position: relative;
  margin-top: 15px;
  left: 33%;
}
.input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  color: #999;
  text-align: center;
}
.input:focus {
  outline: none;
}
label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input:focus ~ label, .input:valid ~ label {
  top: -10px;
  font-size: 10px;
  color: #fff;
}
.bar {
  position: relative;
  display: block;
  width: 200px;
}
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
}
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
button {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  transition: 0.3s ease;
  margin-top: 25px;
}

button:hover {
  color: #999;
  border-color: transparent;
  background: #fff;
}
@keyframes inputHighlighter {
  from {
   background: #fff;
  }
 
  to {
   width: 0;
   background: transparent;
  }
}